<!--The content below is only a placeholder and can be replaced.-->
<md-card> 
 Welcome to {{title}}! 
</md-card> 
<md-card><button md-raised-button color="accent" (click)="fun()"> {{buttonTitle}}  Picture!</button></md-card> 
<div style="text-align:center" *ngIf="show"> 

  <img width="300" src="http://www.freeflowerpictures.net/image/flowers/monarda/bergamot_29.jpg">
</div>
<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>
  </li>
</ul>
-->
